{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Daftar Donatur</title>
{% endblock meta %}

{% block content %}
<div class="content mt-5 pt-5">
	<h1 class="title">Daftar Donatur</h1>
	<!-- <div class="container mt-5">
		<div class="row">
			<table class="table table-borderless text-center">
				<tr>
					<th scope="col">No</th>
					<th scope="col">Nama</th>
					<th scope="col">Kebutuhan Logistik</th>
					<th scope="col">Kebutuhan Lainnya(Optional)</th>
				</tr>
				{% for x in donatur %}
				{% if x.anon %}
				<tr>
					<td scope="row">{{forloop.counter}}</th>
					<td>Anonim</td>
					<td>{{x.kebutuhan1}}</td>
					<td>{{x.kebutuhan2}}</td>
				</tr>
				{% else %}
				<tr>
					<td scope="row">{{forloop.counter}}</th>
					<td>{{x.nama}}</td>
					<td>{{x.kebutuhan1}}</td>
					<td>{{x.kebutuhan2}}</td>
				</tr>
				{% endif %}
				{% endfor %}
			</table>
	    <a href="/donasi_nontunai" class="btn mt-5">Kembali ke Form Donasi Non Tunai</a>
		</div>
		
	</div> -->
	<div class="container pt-5">
		<input id="input" class="mb-5" placeholder="Search">
	  
		<table id="result" class="table table-borderless text-center">
			<tr>
				<th scope="col">No</th>
				<th scope="col">Nama</th>
				<th scope="col">Kebutuhan Logistik</th>
				<th scope="col">Kebutuhan Lainnya(Optional)</th>
			</tr>
		
		</table>
	</div>

	<script>
	$(document).ready( function() {
    url_default = '/donasi_nontunai/posts/?q=';
    $.ajax({
      	url: url_default,
      	success: function(tmp) {
		var obj_default = $('#result');
		
        for (i = 0; i < tmp.length; i++) {
			if (tmp[i].fields.anon == true) {
          		var def_kebutuhan1 = tmp[i].fields.kebutuhan1;
         		var def_kebutuhan2 = tmp[i].fields.kebutuhan2;
          		obj_default.append('<tr> <td> ' + (i+1) + '</td> <td>' + 'Anonim' + '</td> <td>' + def_kebutuhan1 + '</td> <td>' + def_kebutuhan2 +' </td>');
        	} else {
				var def_nama = tmp[i].fields.nama;
          		var def_kebutuhan1 = tmp[i].fields.kebutuhan1;
         		var def_kebutuhan2 = tmp[i].fields.kebutuhan2;
          		obj_default.append('<tr> <td> ' + (i+1) + '</td> <td>' + def_nama + '</td> <td>' + def_kebutuhan1 + '</td> <td>' + def_kebutuhan2 +' </td>');
			}
		}
          		
      	}
    	})
	  })
	$("#input").keyup( function(e) {
    var content = $("#input").val();
    var url_res = '/donasi_nontunai/posts/?q=' + content;
  
    $.ajax({
      url: url_res,
      success: function(result) {
		var obj_result = $("#result");
		obj_result.empty();
		obj_result.append('<tr> <th> ' + 'No' + '</th> <th>' + 'Nama' + '</th> <th>' + 'Kebutuhan Logistik' + '</th> <th>' + 'Kebutuhan Lainnya(Optional)' + '</th>')

        for (i = 0; i < result.length; i++) {
			if (result[i].fields.anon == true) {
      			var kebutuhan1 = result[i].fields.kebutuhan1;
         		var kebutuhan2 = result[i].fields.kebutuhan2;
          		obj_result.append('<tr> <td> ' + (i+1) + '</td> <td>' + 'Anonim' + '</td> <td>' + kebutuhan1 + '</td> <td>' + kebutuhan2 +' </td>');
			} else {
				var nama = result[i].fields.nama;
				var kebutuhan1 = result[i].fields.kebutuhan1;
         		var kebutuhan2 = result[i].fields.kebutuhan2;
          		obj_result.append('<tr> <td> ' + (i+1) + '</td> <td>' + nama + '</td> <td>' + kebutuhan1 + '</td> <td>' + kebutuhan2 +' </td>');
			}
			
        }
    	}
    })
  	})
	</script>
  		
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
{% endblock content %}