{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}
	<div class="content mt-5 pt-5">	
	{% for message in messages %}
	    <script>
	    	alert("{{ message }}")
	    </script>
  	{% endfor %}
		<h1 class="title">Masuk</h1>
		<div class="form">
			<form action="" method="POST">
			    {% csrf_token %}
			    <table class="table table-borderless" style="width:40vw" align="center">
			    	<tr align="left">
			    		<td>Username :</td>
			    		<td><input id="username" name="username" type="text" required> </td>
			    	</tr>
			    	<tr align="left">
			    		<td>Password :</td>
			    		<td><input id="password" name="password" type="password" required></td>
			    	</tr>
			    	<tr align="left">
			    		<td>&nbsp;</td>
			    		<td align="left"><input type="submit" value="Masuk" class="btn btn-primary" id="login"></td>
			    	</tr>
			    </table>
			</form>
		</div>
		
		<br>
		<div class="make_center">
			<p>Belum punya akun?<a href="/signup"> Daftar</a></p>
		</div>
	</div>
{% endblock content %}
