{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Sign Up</title>
{% endblock meta %}

{% block content %}
<div class="content mt-5 pt-5">	
	{% for message in messages %}
	    <script>
	    	alert("{{ message }}")
	    </script>
  	{% endfor %}
		<h1 class="title">Daftar</h1>
		<form action="" method="POST">
		    {% csrf_token %}
		    <table class="table table-borderless" style="width:40vw" align="center">
		    	<tr align="left">
		    		<td>Email :</td>
		    		<td><input id="email" name="email" type="email" required></td>
		    	</tr>
		    	<tr align="left">
		    		<td>Username :</td>
		    		<td><input id="username" name="username" type="text" required></td>
		    	</tr>
		    	<tr align="left">
		    		<td>Password :</td>
		    		<td><input id="password" name="password" type="password" required></td>
		    	</tr>
		    	<tr align="left">
		    		<td>&nbsp;</td>
		    		<td><input type="submit" value="Daftar" class="btn btn-primary" id="signup"></td>
		    	</tr>
		    </table>
		</form>
		<br>
		<div class="make_center">
			<p>Sudah punya akun?<a href="/accounts/login"> Masuk</a></p>
		</div>
</div>
{% endblock content %}
