{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block meta %}
<title>Form Pertanyaan</title>
{% endblock meta %}

{% block content %}
  <div class="content mt-5 pt-5">
    <h1 class="title">Pertanyaan</h1>
    <div id="alert-box"></div>
    <div class="form" id="myform">
      <form action="" method="POST" autocomplete="off">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class="btn">Kirim</button>
        <a href="{% url 'pertanyaan:list_asked' %}" class="btn">Daftar Pertanyaan</a>
      </form>
    </div>
  </div>
{% endblock content %}

{% block script %}
  <script src="{% static 'js/pertanyaan_form.js' %}"></script>
{% endblock %}