{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Daftar Pertanyaan</title>
{% endblock meta %}

{% block content %}
<div class="content mt-5 pt-5">
	<h1 class="title">Daftar Pertanyaan</h1>
	<div class="make_center">
		<div class="ui-widget">
			<label><b>Cari Pertanyaan disini : </b></label>
			<input id="places"/>
		</div>  
	</div>
	<div class="make_center">
		<dl class="accordion">
	  		{% for i in mylist %}
			<div class="accordion-content">
	  			<dt class="d-flex justify-content-between">
			  		<a><b>{{i.pertanyaan}}</b></a>
		  		</dt>
		  		<dd>
		  			<p><b>Penulis : </b>{{i.nama}}</p>
		  		</dd>
		  	</div>
		    {% endfor %}
	    </dl>
	    <a href="/faq" class="btn">Kembali ke FAQ</a>
	</div>

	
</div>
{% endblock content %}

{% block script %}
	<script src="{% static 'js/pertanyaan_result.js' %}"></script>
{% endblock %}