{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Form Donasi Tunai</title>
{% endblock meta %}

{% block content %}
  <div class="content mt-5 pt-5">
    {% if user.is_authenticated %}
    <h1 class="title">Form Donasi Tunai<br></h1>
  	<div class="form">
  		<form action="" method="POST">
        <h2 class="content_list" style="text-align: center; color: #272343"><strong>Harap mentransfer donasi ke salah satu rekening di bawah ini:</h2>
          <div id="accordion">
            <h3 class="content_list" style="text-align: center; color: #272343">Bank ABC</h3>
            <div>
              <p>
                No. Rekening: 1823639283 a/n Andi
              </p>
            </div>
            <h3 class="content_list" style="text-align: center; color: #272343">Bank DEF</h3>
            <div>
              <p>
                No. Rekening: 278913721823 a/n Dina
              </p>
            </div>
            <h3 class="content_list" style="text-align: center; color: #272343">Bank GHI</h3>
            <div>
              <p>
                No. Rekening: 1378912312 a/n Gina
              </p>
            </div>
          </div>
          <br>
			{% csrf_token %}
        <p>Nama:</p>
        <p>{{form.nama}}</p>
        <p>Alamat:</p>
	    	<p>{{ form.alamat }}</p>
        <p>Email atau No. Handphone:</p>
        <p>{{form.kontak}}</p>
        <p>Jumlah Transfer</p>
        <p>{{form.jumlah}}</p>
        <p>{{form.anon}} Tampilkan sebagai donatur anonim</p>
        <br>
        <h2 class="content_list" style="text-align: center; color: #272343"><strong>Jika sudah mengisi form diatas, <br>
          mohon konfirmasi ke kontak<br>
          di bawah ini:<br></strong>Budi / +62 0812345678<br></h2>
        <input type="submit" value="Kirim" class="btn">
        <a href="{% url 'donasi1:list_donasitunai' %}" class="btn">Daftar Donatur</a>
		</form>
    </div>
    {% else %}
    <div style="text-align: center;">
    <h3>Ingin berdonasi? Silahkan <a href="/accounts/login">Login </a>atau <a href="/signup">Signup </a>terlebih dahulu!</h3>
    <br>
    <h3><a href="{% url 'donasi1:list_donasitunai' %}">Daftar Donatur</a></h3>
    </div>
    {% endif %}
  </div>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
    $(document).ready(function(){
      $( function() {
        $( "#accordion" ).accordion();
      } );
  
      $( "h3" ).hover(
        function() {
        $( this ).append( $( "<span> ***</span>" ) );
      }, function() {
        $( this ).find( "span" ).last().remove();
      }
    );
  });
  </script>
{% endblock content %}