{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Daftar Donatur</title>
{% endblock meta %}

{% block content %}
<div class="content mt-5 pt-5">
	<h1 class="title">Daftar Donatur</h1>
	<div class="input">
		<input type="text" id="input" placeholder="search..." title="search">
		<table class= "table" style="font-family: 'Roboto'; color: #272343 ">
			<thead>
				<tr>
					<th scope="col" class="align-middle" style="font-family: 'Roboto'" >nama</th>
					<th scope="col" class="align-middle" style="font-family: 'Roboto'">jumlah</th>
				</tr>
			</thead>
			<tbody id="konten"></tbody>
		</table>
	</div>

	<a href="/donasi_tunai" class="btn">Kembali ke Form Donasi Tunai</a>
</div>
<script>
	 $("#input").on("keyup", function(e) {
		var q = $(this).val();
		console.log("masuk");
        $.ajax({
				url: "/donasi_tunai/posts/?q=" + q,
        success: function(data) {
				console.log("test")
				console.log(data)
				$('#konten').html('')
				var result= '<tr>';
        for (var i = 0; i < data.length; i++) {
          console.log(data[i])
          console.log("---------")
          if (data[i].fields.anon != true){
          result += "<tr>" +
						"<td class='align-middle'>" + data[i].fields.nama + "</td>" +
            "<td class='align-middle'>" + data[i].fields.jumlah + "</td>" 
          }else{
            result += "<tr>" +
						"<td class='align-middle'>" + "Anonim" + "</td>" +
            "<td class='align-middle'>" + data[i].fields.jumlah + "</td>" 
          }
				}
				$('#konten').append(result);
      },
        })
	});
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
{% endblock content %}
 