{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Homepage</title>
{% endblock meta %}

{% block content %}
<div class="content mt-5 pt-5">
	<h1 class="title">Selamat Datang!</h1>
	<div class="make_center">
		<table align="center">
			<tr>
				<td>
					<div class="fitur">
						<a href="/infografis"><img src="{% static 'img/infografis.png' %}"></a>
						<br><br>
						<p>Infografis</p>
					</div>
				</td>
				<td>
					<div class="fitur">
						<a href="/donasi_tunai"><img src="{% static 'img/donation1.png' %}"></a>
						<br><br>
						<p>Daftar Bantuan Tunai</p>
					</div>
				</td>
				<td>
					<div class="fitur">
						<a href="/donasi_nontunai"><img src="{% static 'img/donation2.png' %}"></a>
						<br><br>
						<p>Daftar Bantuan Non Tunai</p>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="fitur">
						<a href=""><img src="{% static 'img/kritiksaran.png' %}"></a>
						<br><br>
						<p>Kritik & Saran</p>
					</div>
				</td>
				<td>
					<div class="fitur">
						<a href="/faq"><img src="{% static 'img/faq.png' %}"></a>
						<br><br>
						<p>FAQ</p>
					</div>
				</td>
				<td>
					<div class="fitur">
						<a href="/asked_us"><img src="{% static 'img/question.png' %}"></a>
						<br><br>
						<p>Pertanyaan</p>
					</div>
				</td>
			</tr>
		</table>
			
	</div>
</div>
{% endblock content %}