{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Infografis</title>
{% endblock meta %}

{% block content %}
<div class="content mt-5 pt-5">
	<div class="make_center">
		<table align="center">
			<tr>
				<td>
					<div class="fitur">
						<img src="{% static 'img/indonesia.png' %}">
						<p>Angka penyebaran Covid-19 <br>
							di Indonesia terus mengalami<br>
							kenaikan.</p>
					</div>
				</td>
				<td>
					<div class="fitur">
						<img src="{% static 'img/graph.png' %}">
						<p>Rata-rata kasus baru Covid-19 <br>
							di Indonesia mencapai 3000<br>
							kasus.</p>
					</div>
				</td>
				<td>
					<div class="fitur">
						<img src="{% static 'img/closed.png' %}">
						<p>Karena adanya PSBB, banyak<br>
							masyarakat yang tidak dapat<br>
							bekerja dan terpaksa menutup<br>
							usahanya.</p>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<p><br></p>
				</td>
				<td>
					<h2><strong>Apa yang bisa kita lakukan?</strong></h2>
				</td>
				<td><p><br></p></td>
			</tr>
			<tr>
				<td>
				<div class="fitur">
					<img src="{% static 'img/stay-at-home.png' %}">
					<p>
						Stay at home! Keluar<br>
						hanya jika ada urusan<br>
						mendesak
					</p>
				</div>
				</td>
				<td>
				<div class ="fitur">
					<img src="{% static 'img/face-mask.png' %}">
					<p>
						Jangan lupa pakai <br>
						masker jika bepergian
					</p>
				</div>
				</td>
				<td>
				<div class="fitur">
					<img src="{% static 'img/wash-your-hands.png' %}">
					<p>
						<br>Rajinlah mencuci tangan
					</p>
				</div>
				</td>
			</tr>
			<tr>
				<td>
					<p><br></p>
					
				</td>
				<td>
					<div class="fitur">
					<img src="{% static 'img/donate.png' %}">
					<h2>Bantu sesama dengan <br>
						cara berdonasi!<br><br><strong>Daftar sekarang!</strong></h2>
						<a href="/donasi_tunai" class="btn">Donasi Tunai</a>
						<a href="/donasi_nontunai" class="btn">Donasi Non Tunai</a>
					</div>
				</td>
			</tr>
			
		</table>
	</div>
</div>
{% endblock content %}